/*Mediaquerys*/
@media screen and (max-width: 990px){
    /*Header*/
    
    .content {
        width: 690px;
        max-width: 900px;
        padding: 0 15px;
    }

    .contact-info {
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%; 
    }
    .lineDiv {
        display: none; 
    }
    .navbar .links {
        width: calc(100% - 30px);
        position: absolute;
        top: 100%;
        z-index: 10;
        height: 0;
        transform: scaleY(1);
        overflow: hidden;
        left: 15px;
        flex-direction: column;
        align-items: start;
        opacity: 1;
    }
    .navbar .links.show {
        opacity: 1;
        transform: none;
        background-color: var(--colorprincipal);
        z-index: 10;
        height: calc(46px * 6);
    }
    .show + .header-icons ul .bars .iconBar > div:first-child{
        transform: rotateZ(-225deg);
    }
    .show + .header-icons ul .bars .iconBar > div:nth-child(2){
        transform: rotateZ(225deg);
    }
    .show + .header-icons ul .bars .iconBar > div:last-child{
        transform: translateX(200px);
    }
    .navbar .links > li {
        display: block;
        width: 100%;
        padding: 10px 0px;
        text-transform: uppercase;
        border-bottom: 1px solid #3391c5;
        cursor: pointer;
    }
    .navbar .links > li i{
        display: none;
    }
    .navbar .links li a,
    .dropdown-menu ol li a {
        color: #FFFFFF;
        font-weight: 300;
        font-size: 15px;
    }
    .navbar .links li a:hover,
    .dropdown-menu ol li a:hover {
        color: #FFFFFF;
    }
    .header-icons .bars {
        display: block; 
    }
    .header-icons ul li .bars {
        display: flex;
    }
    .top-header{
        height: 60px;
    }
    .top-header, .bot-header {
        width: 100%;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .header-icons ul li a.bars:active + .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-menu a:active + .dropdown-menu {
        display: block;
    }
    
    .slider .slider-info h1 {
        font-size: 45px;
    }
    .slider .slider-info p {
        font-size: 14px;
    }
    /*Características*/
    .caracteristicas .characters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .caracteristicas .characters article {
        flex: 1 0 45%; 
    }
    .caracteristicas .characters article:last-child {
        flex: 0 0 50%; 
        margin: auto; 
    }
    /*Efectos Contenidom*/
    .efectos .contenidom{
        height: auto;
        width: 690px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .efectos .contenidom .bgImg{
        width: 100%;
        height: 500px;
    }
    .efectos .contenidom .cajatexto{
        width: 100%;
        padding: 5% 0 0 0;
        margin: 0;
    }
    .textomasaje{
        width: 100%;
        margin: 0;
    }
    
    /*Servicios*/
    .services .info-services{
        width: 75%;
    }
    .info-services h2{
        font-size: 28px;
    }
    .details-services{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        margin: auto;
    }
    /*Banner*/
    .banner {
        background-image: url('../img/bg/call-to-action-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 350px;
        display: flex;
        align-items: center;
    }
    .caja-banner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .aditional-info{
        margin-top: 20px;
    }
    /*Beneficios*/  
    .benefits{
        display: flex;
        flex-direction: column;
        padding: 100px 0 0 0;
    }
    .benefits > div{
        width: 100%;
    }
    .therapy-rates{
        width: 100%;
        padding: 50px 15px;
    }
    .therapy-global {
        display: flex;
        flex-direction: column;
    }
    .therapy-rates .cards + ul {
        display: flex;
        position: relative;
        right: 0;
        justify-content: space-between;
        flex-direction: row;
        width: 6%;
        z-index: 1;
    }
    .cards {
        width: 100%;
        overflow: visible;
        display: flex;
        justify-content: center;
    }
   .cards-content{
        margin: 0;
   }
    
    /*Productos*/
    .shop{
        padding: 100px 0px;
    }
    .info-shop{
        width: 80%;
    }
    .info-shop h2{
        font-size: 28px;
    }
    .contenidocom h2{
        font-size: 28px;
    }

    .carruselshop .slide {
        width: calc(690px / 3);
        padding: 0 15px;
    }
    /*Formulario-Datos*/
    .inform-formSec{
        padding: 100px 0;
    }
    .information-formulario{
        padding: 100px 0px;
    }
    .information--{
        width: 100%;
    }
    .information-formulario{
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }
    .form-map{
        margin: 50px 0px 0px;
    }

    /*Noticias*/
    .global-oln{
        padding: 100px 0px;
    }
    .info-news{
        width: 80%;
    }
    .info-news h2{
        font-size: 28px;
    }
    .details-news {
        width: calc(1050px * 2);
        display: flex;
        justify-content: space-between;
        transition: 0.6s;
        gap: 30px;
    }
     /*Estilo para cada noticia */
    .news {
        display: flex;
        flex-direction: column;
        width: 400px;
        position: relative;
        overflow: hidden;
        
    }
    .news h3 a {
        font-size: 17px;
        font-weight: 500;
        color: var(--subtitulos);
    }
    .news .abtnlink {
        color: #FFFFFF;
        font-weight: 500;
        height: 50px;
        width: 55%;
        font-size: 16px;
        padding: 0 40px;
        background-color: #292828;
        border-radius: 3px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .linew3{
        display: block;
    }
    .linew4{
        display: none;
    }
    .linew5{
        display: none;
    }
    /*Footer*/
    .footer .widgets {
        display: flex;
        flex-wrap: wrap;
    }

    .footer .widgets > div {
        flex: 1 0 50%;
    }
}